.home-top {
  position: relative;

  color: $white;
  background: $bgDarkColor1;

  &__header {
    padding: 80px 0 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    &-title {
      @include title-home;
    }

    &-description {
      font-size: 16px;
      line-height: 26px;
      opacity: 0.8;

      max-width: 60%;
      padding: 0 35px 0;
    }
  }

  &__catalog {
    @include reset-list;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;

    padding: 0 0 40px;

    .cart {
      margin: 0;
    }
  }
}

// 1200
@include media-breakpoint-down(lg) {
  .home-top {

    &__header {
      padding: 75px 0 40px;

      &-description {
        max-width: 70%;
        padding: 0 30px 0;
      }
    }
  }
}

// 992
@include media-breakpoint-down(md) {
  .home-top {

    &__header {
      padding: 70px 0 35px;

      &-title {
        padding-bottom: 15px;
      }

      &-description {
        max-width: 100%;
        padding: 0 20px 0;
      }
    }
  }
}

// 768
@include media-breakpoint-down(sm) {
  .home-top {

  }
}

// 576
@media screen and (max-width: 576px) {
  .home-top {

  }
}
