@mixin title {
  font-family: BebasNeueBold, sans-serif;
  font-size: 54px;
  line-height: 101%;

  letter-spacing: 2px;

  width: 85%;

  @include media-breakpoint-down(lg) {
    font-size: 45px;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

@mixin title-home {
  font-family: BebasNeueBold, sans-serif;
  font-size: 36px;
  line-height: 43px;

  letter-spacing: 1.5px;

  color: $white;
}

@mixin sub-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.933333px;
  text-transform: uppercase;

  color: $green1;
}
