$bgDarkColor: #2B2B2B;
$bgDarkColor1: #282932;

$dark1: #070808;
$dark2: #1A1A1A;
$dark3: #1A1B20;

$gray1: #5C5C66;
$gray2: #8C8C8C;

$white: #ffffff;
$white1: #F3F3F3;
$white2: #D8D8D8;

$ping1: #FF3465;

$green1: #17A24F;
$green2: #158f46;
