body {
  background: $bgDarkColor;
}

a {
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2B2B2B;
}

::-webkit-scrollbar-track-piece {
  background: #2B2B2B;
}

::-webkit-scrollbar-thumb {
  background: #5C5C66;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: #999;
}

::-webkit-resizer {
  background-color: #666;
}
