.footer {
  background: $dark1;
  color: $white;

  &__inner {
    padding: 55px 0 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'group-1 group-2 group-3 group-4';

    &-title {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &-links {
      @include reset-list;

      padding: 20px 0 0 0 !important;

      & a {
        font-size: 12px;
        line-height: 24px;

        color: $white;

        opacity: 0.8;
      }

      & + & {
        padding: 6px 0 0 0;
      }
    }

    &-btn {
      margin: 20px 0 0 0;

      font-size: 16px;
      letter-spacing: 2px;
    }

    &-group {
      padding: 10px 0;

      &:nth-child(1) {
        grid-area: group-1;
      }

      &:nth-child(2) {
        grid-area: group-2;
      }

      &:nth-child(3) {
        grid-area: group-3;
      }

      &:nth-child(4) {
        grid-area: group-4;
      }
    }
  }

  &__copyright {
    border-top: 1px solid $white2;
    padding: 20px 0;
    line-height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'text link-1 link-2 social';

    &-text {
      opacity: 0.8;
      margin: 0;
      font-size: 12px;
      display: flex;
      align-items: center;
      grid-area: text;
    }

    &-link {
      font-weight: bold;
      font-size: 12px;
      color: $white;
      display: flex;
      align-items: center;

      &:nth-child(1) {
        grid-area: link-1;
      }

      &:nth-child(2) {
        grid-area: link-2;
      }
    }

    &-social {
      @include reset-list;

      display: flex;
      align-items: center;
      justify-content: space-between;

      grid-area: social;
    }
  }

  &__container {
    max-width: 1360px;
    width: 100%;

    padding: 0 15px;
    margin: 0 auto;
  }
}

// 992
@include media-breakpoint-down(md) {
  .footer {

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'group-1 group-2 group-3'
                           'group-4 group-4 group-4';

      &-btn {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__copyright {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'social social'
                           'link-1 link-2'
                           'text text';

      &-social {
        margin: 0 0 30px;
      }

      &-text {
        margin: 30px 0 0;
      }
    }
  }
}

// 576
@media screen and (max-width: 576px) {
  .footer {

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 'group-1 group-2'
                           'group-3 group-3'
                           'group-4 group-4';

      &-btn {
        margin: 25px 0 0 0;

        width: 100% !important;
      }
    }
  }
}
