body {
  .blog {
    background: linear-gradient(306.99deg, rgba(0, 0, 0, 0.0001) 58.4%, #000000 99.54%);
    overflow: hidden;
    color: $white;

    min-height: 100vh;

    &__body {
      margin: 0 auto;
      display: flex;
      max-width: 1440px;
      width: 100%;
      padding: 120px 20px 0;
    }

    &__aside {
      width: 100%;
      flex: 0 0 22%;
    }

    &__list {
      flex: 1;
      margin: -25px -25px 55px;
    }

    &__post {
      position: relative;
      margin: 25px;

      width: calc(100% - 50px);
      height: calc(100% - 50px);
    }

    &__main {
      display: flex;
      flex-direction: column;
    }

    &__header {
      padding: 0 0 35px;

      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      flex-wrap: wrap;

      &-title {
        font-family: BebasNeueBold, sans-serif;
        font-size: 36px;
        line-height: 43px;

        letter-spacing: 1.5px;
      }

      &-text {
        font-size: 16px;
        line-height: 23px;
        opacity: 0.8;

        max-width: 60%;
      }
    }
  }
}

// 1200
@include media-breakpoint-down(lg) {
  body {
    .blog {
      &__aside {
        width: 100%;
        flex: 0 0 25%;
      }

      &__body {
        padding: 90px 15px 0;
      }

      &__list {
        margin: -20px -20px 40px;
      }

      &__post {
        margin: 20px;

        width: calc(100% - 40px);
        height: calc(100% - 40px);
      }

      &__header {
        padding: 0 0 30px;

        &-text {
          font-size: 14px;
          line-height: 20px;
          max-width: 70%;
        }
      }
    }
  }
}


// 992
@include media-breakpoint-down(md) {
  body {
    .blog {
      &__aside {
        display: none;
      }

      &__body {
        padding: 80px 15px 0;
      }

      &__list {
        margin: -15px -15px 30px;
      }

      &__post {
        margin: 15px;

        width: calc(100% - 30px);
        height: calc(100% - 30px);
      }

      &__header {
        padding: 0 0 30px;

        &-text {
          font-size: 12px;
          line-height: 16px;
          max-width: 100%;

          padding-left: 40%;
        }
      }
    }
  }
}

// 768
@include media-breakpoint-down(sm) {
  body {
    .blog {

      &__body {
        padding: 60px 15px 0;
      }

      &__list {
        margin: -10px -10px 25px;
      }

      &__post {
        margin: 10px;

        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }

      &__header {
        padding: 0 0 25px;

        &-text {
          padding-left: 25%;
        }
      }
    }
  }
}

// 576
@media screen and (max-width: 576px) {
  body {
    .blog {

      &__list {
        margin: -5px -5px 20px;
      }

      &__post {
        margin: 5px;

        width: calc(100% - 10px);
        height: calc(100% - 10px);
      }

      &__header {
        &-text {
          padding-left: 5%;
        }
      }
    }
  }
}


// -----------------------------------
@include media-breakpoint-up(lg) {
  body {
    .blog {
      &__mobile {
        display: none;
      }
    }
  }
}
